# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary files
*.tmp
*.log
